mat-form-field{
  width: 100%;
}
mat-spinner {
  margin: auto;
  color:white;

}
.register{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 255, 102);
  width: 200px;
  cursor: pointer;
}
.buttoni{
  background-color: gray ;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
h2{
  text-align: center;
  color: gray;

}
form{
  margin-bottom: 350px;
}

mat-card{
  width: 350px;
  border: 1px dotted rgb(88, 88, 88);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top:100px;


}
.shkurt{
  width: 50%;
}
.center{

float: left;
}
@media screen and (max-width: 450px) {
  mat-form-field{
    width: 100%;
  }
  mat-spinner {
    margin: auto;
    color:white;

  }
  .buttoni{
    background-color: gray ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  h2{
    text-align: center;
    color: gray;

  }
  mat-card{

    margin: 0 auto ;
    margin-top: 100px;
    width: 180px;
    border: 1px dotted rgb(88, 88, 88);

  }
}
